<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowInternetPlugins</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>doubanfm</string>
	<key>CFBundleIdentifier</key>
	<string>me.yang.widgets.doubanfm</string>
	<key>CFBundleName</key>
	<string>doubanfm</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.12</string>
	<key>CFBundleVersion</key>
	<string>0.9.12</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>173</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Plugin</key>
	<string>doubanfm.widgetplugin</string>
	<key>Width</key>
	<integer>323</integer>
</dict>
</plist>
